[Unit]
Description=Pelican
After=network.target

[Service]
WorkingDirectory=/opt/pelican
ExecStart=/opt/pelican/venv/bin/gunicorn pelican.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
RestartSec=5